body {
    margin: 0px;
    padding: 0px;
}

h3 {
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
}

divc {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}